html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  text-align: center;
  height: calc(100vh - 120px); /* Adjust based on header and footer height */
}


.side-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-image img {
  max-width: 100%;
  height: auto;
}